label {
  display: block;
  margin-top: 10px;
}

.navbar {
  background-color: #17a2b8;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.list-group.chat {
  height: 40rem !important;
  overflow-y: scroll;
}

.list-group.user-list {
  flex-direction: row;
}

.card.user {
  max-width: 300px !important;
}

.card {
  background-color: #f6f3f3;
  padding: 20px 25px 30px;
  margin: 50px auto 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
